html, body {
    background-color: black;
    color: white;
}

.responded {
    color:green;
}
.checking,.unchecked {
    color:#FF8C00;
}
.timeout {
    color:red;
}

#gradient-a {
    background-image: -webkit-gradient(
        linear,
        left top,
        left middle,
        left bottom,
        color-stop(0, #FFFF00)
        color-stop(1, #00FF00)
        color-stop(2, #FF0000),
    );
    background-image: -o-linear-gradient(bottom, #00FF00 0%, #FFFF00 50%, #FF0000 100%);
    background-image: -moz-linear-gradient(bottom, #00FF00 0%, #FFFF00 50%, #FF0000 100%);
    background-image: -webkit-linear-gradient(bottom, #00FF00 0%, #FFFF00 50%, #FF0000 100%);
    background-image: -ms-linear-gradient(bottom, #00FF00 0%, #FFFF00 50%, #FF0000 100%);
    background-image: linear-gradient(to bottom, #00FF00 0%, #FFFF00 50%, #FF0000 100%);
    width: 20px;
    height: 30%;
    position: absolute;
    left: 20px;
    top: 60%;
}

#vmap {
    width: 100%;
    height: calc(100% - 92px);
    background-color: yellow;
    position: absolute !important;
}


.legend {
    position: absolute;
    left: 50px;
    top: 60%;
}

#legend-end {
    top: 90%;
    margin-top: -16px;
}

.navbar {
    z-index: 100;
}

.footer {
    position: absolute;
    top: calc(100% - 30px);
    right: calc(50% - ( 940px / 2 ) );
}

.footer .container {
    text-align: center;
}
